<section class="section is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-10 is-offset-1">
          <h1>Listado de productos</h1>
          <table class="table is-strited is-hoverable is-borderd is-fullwith">
            <thead>
              <th *ngFor="let title of titles">{{ title }}</th>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.detail }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                  <button type="button" class="button is-small is-danger" (click)="onDeleteProduct(product, $event)" >
                    Eliminar
                  </button>
                  &nbsp;
                  <button type="button" class="button is-small is-info">
                    Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
